<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>w12javabeans</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>jp.webschool.javaweb.chapter12.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResList</display-name>
    <servlet-name>ResList</servlet-name>
    <servlet-class>jp.webschool.javaweb.chapter12.ResList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResList</servlet-name>
    <url-pattern>/ResList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResBean</display-name>
    <servlet-name>ResBean</servlet-name>
    <servlet-class>jp.webschool.javaweb.chapter12.bean.ResBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResBean</servlet-name>
    <url-pattern>/ResBean</url-pattern>
  </servlet-mapping>
</web-app>